
.productsContainer{
  margin: 50px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 40px ;
}


.productCard{
  margin: 30px 30px 30px 50px;
}

.thumbnail{
  width: 92%;
  height: 300px;
  margin-bottom: 10px;
  padding: 25px ;
  display: flex;
  align-items: center;
  justify-content: center;
}


.productDetails{
  text-decoration: underline;
  text-decoration-color: aliceblue;
  width: auto;
  height: auto;
}

.name{
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: black;
}

.price{
  font-size: 24px;
  color: black;
  text-decoration: underline;
}

.image{
  display: block;
  width: 210px;
}

.image:hover{  
  transition: all ease 0.3s;
  width: 219px;
}
